<!-- Template for edit form -->
 <!-- now i am going to include boilerplate code of ejs-Mate -->
 <% layout("/layouts/boilierPlate") -%>

 <body>
    <form method="post" action="/listings/<%= editing._id%>?_method=PUT" class="editForm">
        <b>Title : </b><input type="text"  name="listing[title]" value="<%= editing.title %>">
        <label for="desc"> <b>Description : </b></label><br>
        <textarea  name="listing[description]"  id="desc" rows="6" cols="45"><%= editing.description %></textarea>
        <b>Price :</b> &nbsp; &nbsp; <input type="number"  name="listing[price]" value="<%= editing.price %>">
        <b>Location :</b> &nbsp;<input type="text"  name="listing[location]" value="<%= editing.location %>">
        <b>Country :</b> &nbsp;&nbsp;<input type="text"  name="listing[country]" value="<%= editing.country %>">
        <button type="submit"  id="editBtn">Edit</button>
        <button id="showEditBtn">  <a href="/listing/<%= editing._id %>/editBack"> &lt;&lt;Back </a> </button>
    </form>
 </body>
