<!-- Template For display all listing place -->
<!-- now i am going to include boilerplate code of ejs-Mate -->
 <% layout("/layouts/boilierPlate") -%>
<body>
 <h2>All Listings</h2>
 <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let list of allList){ %>
   <div class="card col">
    <a href="/listing/<%= list._id %>" class="listing-link">
    <img src="<%= list.image %>" class="card-img-top" alt="listing_image" style="height : 20rem;">
      <div class="card-img-overlay">
         <!-- new listing -->
      </div>
      <div class="card-body">
       <h5 class="card-title"><%= list.title %></h5>
       <p class="card-text">
        &#8377;<%= list.price.toLocaleString("en-IN")%>/3nights       
      </p>
      <a href="/listing/<%= list._id %>" class="btn btn-primary">Know more>></a>
     </div>
   </div>
 </a>
   <% } %>
 </div>
</body>
<!-- 
  style="width: 20rem;"
  <h3>All Listing </h3>
  <form method="get" action="/listing/new" class="newForm">
    <button id="newBtn">Create New</button>
  </form>
-->

<!-- 
  </% for(let list of allList){ %>
   <div class="listItem">
     <ul>    
        <li>Title : <a href="/listing<//%= list._id %>"></%= list.title %></a></li>
        <li>Description : <//%= list.description%></li>
        <li>Url : <a href="<//%= list.image %>" target="_main">visit here.</a></li>
        <li>Price : &#8377;<//%= list.price.toLocaleString("en-IN") %></li>
        <li>Location : <//%= list.location %></li>
        <li>Country : </%= list.country %></li>
      </ul>
   </div><hr>
   </% } %>
-->